@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.heroHeader {
  background-image: url(https://raw.githubusercontent.com/naveenbteli/btwebsite/main/easy%20web/images/banner.jpeg)
}
.charge {
  position: relative;
  bottom: 0.5em;
  font-size: 0.8em;
}