@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.heroHeader {
  background-image: url("../public/main_gate.jpg")
}
.charge {
  position: relative;
  bottom: 0.5em;
  font-size: 0.8em;
}